doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./styles/index.sass")

  body

    header
      nav
        button 
          img.menu-text(src="images/menu.svg")
          span.menu-icon
            span.menu-icon__dash
            span.menu-icon__dash
            span.menu-icon__dash
          
      img.header-face(src="images/header-face.png", alt="")
      img.header-words(src="images/header-words.png", alt="")
      img.word-mark(src="images/word-mark.svg", alt="")
      img.shadow-eyes(src="images/shadow-eyes.png")

      .header-borders
        p turn off the monitor and see in your head which pieces to move. which pieces to move. 
        p You could turn off the monitor and see in your head which pieces to move through
        p turn off the monitor and see in your head which pieces 

      .header-buttons
        .header-button
          span.header-button--top And then
          span.header-button--bottom Eudaemonia

        .header-button
          span.header-button--top Next is
          span.header-button--bottom The Minutiae

        .header-button
          span.header-button--top You are on
          span.header-button--bottom Language

      .header-text
        h1 
          span Sans language 
          span there is 
          span no thought

        p You could turn off the monitor and see in your head which pieces to move. Like a master chess player. You just keep going and this blank page which just a moment ago was a rough boulder — 
          a(href="#") read more

      .menu-items
        .menu-item
          p.sub Agency: bunker
          h3 Our services
          p.menu-body You could turn off the monitor and see in your head which pieces to move. Like a master chess player. 

        .menu-item
          p.sub Agency: bunker
          h3 About us
          p.menu-body You could turn off the monitor and see in your head which pieces to move. Like a master chess player. 

        .menu-item
          p.sub Agency: bunker
          h3 Our clients
          p.menu-body You could turn off the monitor and see in your head which pieces to move. Like a master chess player. 

        .menu-item
          p.sub Agency: bunker
          h3 Contact us
          p.menu-body You could turn off the monitor and see in your head which pieces to move. Like a master chess player. 

      .bg-gradient
      script(src="scripts/index.js")