doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./styles/index.sass")

  body

    nav
      button 
        span.menu-text Menu
        span.menu-icon
          span.menu-icon__dash
          span.menu-icon__dash
          span.menu-icon__dash
        
    img(src="images/header-face.png", alt="")
    img(src="images/header-words.png", alt="")
    img(src="images/word-mark.svg", alt="")

    .header-borders
      p turn off the monitor and see in your head which pieces to move. which pieces to move. 
      p You could turn off the monitor and see in your head which pieces to move through
      p turn off the monitor and see in your head which pieces 

    .header-buttons
      .header-button
        span.header-button--top And then
        span.header-button--bottom Eudaemonia

      .header-button
        span.header-button--top Next is
        span.header-button--bottom The Minutiae

      .header-button
        span.header-button--top You are on
        span.header-button--bottom Language

    h1 
      span Sans language 
      span there is 
      span no thought

    p You could turn off the monitor and see in your head which pieces to move. Like a master chess player. You just keep going and this blank page which just a moment ago was a rough boulder — 
      a(href="#") read more


    script(src="scripts/index.js")